body {
    margin: 2em;
    padding: 0;
    background-color: rgb(50, 50, 65);
    color: white;
}
#google {
    display: flex;
    align-items: center;
    justify-content: center;
}
#google label{
    color: white;
    margin-right: 1em;
}
#google button{
    margin-left: 1em;
}
main, h1{
    text-align: center;
}
a {
    color: deepskyblue;
}
a:hover{
    color: greenyellow;
}

@media (min-width: 800px){
    main{
        display: flex;
    }
    aside{
        width: Calc(100% / 6);
    }
    a{
        display: block;
        padding: 0.5em 0;
    }
}